
.about-bg { 
    padding-left: 0 !important; 
    padding-right: 0 !important;
    margin-top: 70px; 
}


main {
    padding: 60px 0px;
    position: relative;
}
main .img-fluid {
    max-width: 130% !important;
    height: 330px;
}
main h1 {
    font-size: 34px;
    font-weight: 600;
    color: #444;
    text-transform: capitalize;
}
main h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(230, 143, 13);
    margin-top: 13px;
    margin-bottom: 15px;
}
main p {
    color: rgb(102, 102, 102);
    font-size: 17px;
}
main h3 {
    color: #444;
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
}
main .why-us h2 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
main h4 {
    margin-top: 12px;
    color: #444;
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
}

