
footer {
    background-color: #f2f7fd;
    padding: 50px 0px 40px 0px;
}
footer h4 {
    color: #e08e0b;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
footer p {
    color: #797979;
    margin-top: 30px;
}
footer .footer-social {
    padding-inline-start: initial;
    margin-top: 32px;
}
footer .footer-social li {
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    margin: 0px 3px;
}
footer .footer-social .fa {
    color: #fff;
    padding: 12px 13px;
    border-radius: 100px;
} 
footer .footer-social .fa-facebook {
    padding: 15px 18px;
    background-color: #1877f2;
    color: #fff;
}
footer .footer-social .fa-twitter {
    padding: 15px 15px;
    background-color: #1da1f2;
    color: #fff;
}
footer .footer-social .fa-instagram {
    padding: 15px 16px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
    font-size: 18px;
}
footer .footer-social .fa-whatsapp {
    padding: 15px 16px;
    background-color: #2cc54e;
    color: #fff;
}
footer .footer-menu {
    margin-top: 30px;
    padding-inline-start: initial;
}
footer .footer-menu li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 12px;
}
footer .footer-menu li a {
    color: #797979;
    font-size: 18px;
}
footer .footer-contact {
    margin-top: 30px;
    padding-inline-start: initial;
}
footer .footer-contact li {
    list-style: none;
    color: #797979;
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}
footer .footer-contact .fa {
    margin-right: 12px;
    margin-top: 4px;
}
