/* navigation bar */
.bg-light {
    background-color: #3a408a !important;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    border-radius: none;
}
.navbar-brand > img {
    width: 170px;
    padding-bottom: 8px;
    display: inline-block;
}
.navbar-brand {
    color: #fff !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 15px;
    font-weight: 600;
    font-size: 17px;
}
.navbar-light .dropdown {
    padding: 9px 13px;
}
.dropdown > .btn-secondary {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.dropdown .dropdown-menu {
    background-color: #3a408a;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    margin-left: 15px;
    margin-top: 3px;
    padding: 0;
}
.dropdown .dropdown-item {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding: 7px 13px;
    margin: 0;
    border-bottom: 1px solid #6a71d0;
}
.dropdown .dropdown-item:hover {
    background-color: #151842;
}
.navbar-light .navbar-nav .btn-primary {
    border-radius: 100px;
    padding: 5px 12px;
    background-color: #ff801f;
    border-color: #ff801f;
    margin-left: 14px;
}
.navbar-light .navbar-nav .fa-angle-double-right {
    background-color: #fff;
    padding: 3px 7px;
    display: inline-block;
    margin-right: -9px;
    margin-left: 6px;
    border-radius: 25px;
    font-weight: 600;
    color: #133852;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffca2a;
}
.navbar-light .navbar-nav .active .nav-link {
    color: #ffca2a;
    font-weight: 600;
}
body section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


@media(min-width: 320px) and (max-width: 375px) {
    .navbar-brand img {
        width: 110px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px 7px 2px 14px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler > .fa-bars {
        color: #fff;
        border: 1px solid #3c4185;
    }
    #navbarContent {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #3c4185;
    }
    .navbar-light .navbar-nav .btn-primary {
        margin-top: 12px;
        width: 200px;
        margin-bottom: 10px;
        padding: 7px 7px !important;
        width: 154px !important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 6px 15px;
        font-size: 16px;
    }
    .navbar-light .navbar-nav {
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .dropdown > .btn-secondary {
        background: none;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0px 2px;
        font-size: 16px;
    }
    .dropdown .dropdown-menu {
        background-color: #07203c;
        margin-left: 0;
    }
    .dropdown .dropdown-item {
        padding: 13px 13px;
    }
}
/* //navigation bar */
