@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a { font-family: inherit; }
p, li { font-size: 17px; color: #384a5d; font-family: inherit; }
li { font-size: 17px; margin-bottom: 8px; font-family: inherit; }
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}

/* navigation bar */
.bg-light {
    background-color: #3a408a !important;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    border-radius: none;
}
.navbar-brand > img {
    width: 170px;
    padding-bottom: 8px;
    display: inline-block;
}
.navbar-brand {
    color: #fff !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 15px;
    font-weight: 600;
    font-size: 17px;
}
.navbar-light .dropdown {
    padding: 9px 13px;
}
.dropdown > .btn-secondary {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.dropdown .dropdown-menu {
    background-color: #3a408a;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    margin-left: 15px;
    margin-top: 3px;
    padding: 0;
}
.dropdown .dropdown-item {
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    padding: 7px 13px;
    margin: 0;
    border-bottom: 1px solid #6a71d0;
}
.dropdown .dropdown-item:hover {
    background-color: #151842;
}
.navbar-light .navbar-nav .btn-primary {
    border-radius: 100px;
    padding: 5px 12px;
    background-color: #ff801f;
    border-color: #ff801f;
    margin-left: 14px;
}
.navbar-light .navbar-nav .fa-angle-double-right {
    background-color: #fff;
    padding: 3px 7px;
    display: inline-block;
    margin-right: -9px;
    margin-left: 6px;
    border-radius: 25px;
    font-weight: 600;
    color: #133852;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffca2a;
}
.navbar-light .navbar-nav .active .nav-link {
    color: #ffca2a;
    font-weight: 600;
}
body section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


@media(min-width: 320px) and (max-width: 375px) {
    .navbar-brand img {
        width: 110px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px 7px 2px 14px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler > .fa-bars {
        color: #fff;
        border: 1px solid #3c4185;
    }
    #navbarContent {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #3c4185;
    }
    .navbar-light .navbar-nav .btn-primary {
        margin-top: 12px;
        width: 200px;
        margin-bottom: 10px;
        padding: 7px 7px !important;
        width: 154px !important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 6px 15px;
        font-size: 16px;
    }
    .navbar-light .navbar-nav {
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .dropdown > .btn-secondary {
        background: none;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0px 2px;
        font-size: 16px;
    }
    .dropdown .dropdown-menu {
        background-color: #07203c;
        margin-left: 0;
    }
    .dropdown .dropdown-item {
        padding: 13px 13px;
    }
}
/* //navigation bar */


/* home banner */
.home-banner .carousel-caption {
    background-color: rgba(0,0,0,0.5);
    left: 0;
    width: 100%;
}
.home-banner .carousel-caption h2 {
    font-size: 30px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .home-banner .carousel-caption {
        padding: 0;
        top: 72%;
    }
    .home-banner .carousel-caption h2 {
        font-size: 15px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .home-banner .carousel-caption {
        padding: 0;
        top: 72%;
    }
    .home-banner .carousel-caption h2 {
        font-size: 15px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .home-banner .carousel-caption {
        padding: 0;
        top: 72%;
    }
    .home-banner .carousel-caption h2 {
        font-size: 15px;
    }
}
/* //home banner */


/* about section */
.about {
    padding: 50px 0px;
}
.about h1 {
    font-weight: 600;
    color: rgb(78, 78, 78);
    text-transform: capitalize;
    font-size: 34px;
    margin-bottom: 13px;
}
.about p {
    color: #6e6e6e;
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .about h1 {
        font-size: 24px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .about h1 {
        font-size: 24px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .about h1 {
        font-size: 26px;
    }
}
/* //about section */

/* our-products */
main {
    padding: 50px 0px;
    background-color: #f2f7fd;
}
main h2 {
    font-weight: 600;
    color: rgb(78, 78, 78);
    text-transform: capitalize;
    font-size: 34px;
    margin-bottom: 13px;
}
main p {
    font-size: 18px;
    color: #6e6e6e;
}
main .main-box {
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.16);
    padding: 10px 0px 15px 0px;
    text-align: center;
    margin-bottom: 30px;
}
main .main-box a h3 {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1f70cc;
}

@media (min-width: 320px) and (max-width: 375px) {
    main h2 {
        font-size: 25px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    main h2 {
        font-size: 25px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    main h2 {
        font-size: 25px;
    }
}
/* //our-products */

/* quick phone */
.quick-phone {
    padding: 50px 0px 60px 0px;
    background-color: #2f4257;
}
.quick-phone h3 {
    font-size: 30px;
    color: rgb(235, 235, 235);
    font-weight: 600;
    margin-bottom: 38px;
}
.quick-phone .btn-primary {
    background-color: #122232;
    border-color: #122232;
    width: 260px;
    font-size: 19px;
    padding: 18px 22px;
    border-radius: 100px;
    color: #fff;
    font-weight: 600;
    margin-right: 10px;
}
.quick-phone .btn-info {
    background-color: #122232;
    border-color: #122232;
    width: 260px;
    font-size: 19px;
    padding: 18px 22px;
    border-radius: 100px;
    color: #fff;
    font-weight: 600;
}
.quick-phone img {
    margin-right: 14px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .quick-phone h3 {
        line-height: 33px;
        font-size: 23px;
    }
    .quick-phone .btn-primary {
        margin-bottom: 15px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .quick-phone h3 {
        line-height: 33px;
        font-size: 23px;
    }
    .quick-phone .btn-primary {
        margin-bottom: 15px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .quick-phone h3 {
        line-height: 36px;
        font-size: 25px;
    }
    .quick-phone .btn-primary {
        margin-bottom: 20px;
    }
}
/* //quick phone */

/* footer */
footer {
    background-color: #fff;
    padding: 50px 0px 40px 0px;
}
footer h4 {
    color: #e08e0b;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
footer p {
    color: #797979;
    margin-top: 30px;
}
footer .footer-social {
    padding-inline-start: initial;
    margin-top: 32px;
}
footer .footer-social li {
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    margin: 0px 3px;
}
footer .footer-social .fa {
    background-color: #3b4e99;
    color: #fff;
    padding: 12px 13px;
    border-radius: 100px;
} 
footer .footer-social .fa-facebook {
    padding: 12px 16px;
}
footer .footer-menu {
    margin-top: 30px;
    padding-inline-start: initial;
}
footer .footer-menu li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 12px;
}
footer .footer-menu li a {
    color: #797979;
}
footer .footer-contact {
    margin-top: 30px;
    padding-inline-start: initial;
}
footer .footer-contact li {
    list-style: none;
    color: #797979;
    display: flex;
}
footer .footer-contact .fa {
    margin-right: 12px;
    margin-top: 4px;
}
/* //footer */












