

.breadcrumb-wrapper {
    margin-top: 110px;
}
.breadcrumb-wrapper .breadcrumb-item {
    font-size: 18px;
}
.breadcrumb-wrapper .breadcrumb {
    background-color: #f2f7fd;
}


/* pipes & nipples page */
main {
    padding: 30px 0px 40px 0px;
}
main h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
}
main .card {
    padding: 16px 0px 0px 0px;
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.16);
}
main .card-body {
    background-color: #f2f7fd;
    padding: 4px 15px 4px 15px;
}
main table {
    width: 314px;
}
main th {
    line-height: 40px;
    color: rgb(78, 78, 78);
}
main td {
    font-size: 16px;
}
.fs-13 { font-size: 13px !important; }
.fs-15 { font-size: 15px !important; }
main tr {
    border-bottom: 1px solid rgb(214, 214, 214);
}
main .col-md-4, .col-lg-4 {
    margin-bottom: 30px;
}
.bb-none { border-bottom: none !important; }

/* lightbox image viewser css */
.lb-data .lb-details {
    margin-top: 12px;
}
.lb-data .lb-caption {
    font-size: 20px !important;
}
.lb-nav a.lb-next {
    background: url('../images/products/next.png') left 50% no-repeat !important;
    width: 11% !important;
}
.lb-nav a.lb-prev {
    background: url('../images/products/prev.png') left 48% no-repeat !important;
    /* height: 45px; */
}



@media (max-width: 768px) {
    main .card {
        margin-bottom: 20px;
    }
    main table {
        width: 260px;
    }
    .breadcrumb-wrapper .breadcrumb-item {
        font-size: 15px;
    }
    main h1 {
        font-size: 23px;
    }
}
/* //pipes & nipples page */