<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grynow | Home</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    
<!-- footer -->

<!-- fix whatsapp and phone -->
<section class="container-fluid fix-whatsapp d-md-none d-lg-none d-sm-block">
  <ul class="text-center">
    <li><a href="tel:+919917486405" class="btn btn-primary">call us</a></li>
    <li><a href="https://api.whatsapp.com/send?phone=+919917486405&amp;text=Hi" class="btn btn-info">whatsapp</a></li>
  </ul>
</section>
<!-- fix whatsapp and phone -->

<footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <h4>catch us on social media</h4>
          <ul class="footer-social">
            <li><a href="https://facebook.com/grynow" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/grynow.in/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/Grynowagency" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UChCwo_Lrp1pljzDhevETeGw" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=+919917486405" rel="nofollow" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <h4>navigate</h4>
          <ul class="footer-menu">
            <li><a href="https://www.grynow.in/social-media-influencer-platform-and-market-place.html" tar>creators</a></li>
            <li><a href="https://www.grynow.in/brand-marketing-management-agency.html">brands & agencies</a></li>
            <li><a href="https://www.grynow.in/case-studies.html">our work</a></li>
            <li><a href="https://www.grynow.in/blogs.html">blogs</a></li>
            <li><a href="https://www.grynow.in/influencer-management-agency-india.html">about us</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <h4>contact us</h4>
          <ul class="footer-contact">
            <li><i class="fa fa-map-marker"></i> 820, Golf Course Road Sector 42, Gurugram Haryana - 122001, India</li>
            <li><i class="fa fa-envelope"></i> washib@grynow.in, aman@grynow.in</li>
            <li><i class="fa fa-envelope"></i> info@grynow.in</li>
            <li><i class="fa fa-phone"></i> +91 9917486405, +91 9654089096</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        <p>&copy; 2020 All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!-- //footer -->

</body>

