<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>header</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/header.css" type="text/css">
</head>

<body>

  <!-- navigation bar -->
  <header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">Lamppart India</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link"
              href="https://www.grynow.in/social-media-influencer-platform-and-market-place.html">Home</a>
          </li>
          <li class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              our products
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="">all</a>
              <a class="dropdown-item" href="../products/pipes-nipples.html">pipes & nipples</a>
              <a class="dropdown-item" href="../products/nuts-washers.html">nuts & washers</a>
              <a class="dropdown-item" href="">harps</a>
              <a class="dropdown-item" href="">finials</a>
              <a class="dropdown-item" href="">riser checkrings</a>
              <a class="dropdown-item" href="">swivel & movements</a>
              <a class="dropdown-item" href="">lamp shades & pendants</a>
              <a class="dropdown-item" href="">holder cover</a>
              <a class="dropdown-item" href="">canopies</a>
              <a class="dropdown-item" href="">ceiling strips</a>
              <a class="dropdown-item" href="">collar & ring loops</a>
              <a class="dropdown-item" href="">lamp base</a>
              <a class="dropdown-item" href="">fittings</a>
              <a class="dropdown-item" href="">lamps</a>
              <a class="dropdown-item" href="">plastic bushes</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.grynow.in/brand-marketing-management-agency.html">our profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/micro-influencer-marketing-agency-india.html">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/top-tik-tok-marketing-agency-india.html">contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- //navigation bar -->



  <script>
    $('html').css('overflow-x', 'initial');
  </script>

</body>